<p>
   ...Bienvenidos a Angular
</p>

<hr>
<app-counter></app-counter>

<hr>
<!-- <app-heroes-hero></app-heroes-hero> -->
<!-- <app-heroes-list></app-heroes-list> -->

<h3>Listado de Héroes</h3>
<div *ngIf="deletedHeroe; else nothigWasDeleted" > 
   <h3>Héroe Borrado: {{deletedHeroe}} </h3>
</div>
<ng-template #nothigWasDeleted>
   <h3>No se ha borrado nada</h3>
</ng-template>


<button class="btn btn-outline-danger" (click)="removeLastHero()" *ngIf="heroNames.length > 0">

   Borrar último Héroe
</button>

<ul class="mt-2 list-group">
   <li *ngFor="let hero of heroNames" class="list-group-item">
      {{hero}}
   </li>

</ul>